<%@ include file="../user-header.jsp" %>
<script>
window.location.hash = "no-back";
window.onhashchange = function () {
    if (window.location.hash === "#no-back") {
        window.location.hash = "no-back";
    }
};
</script>
<html>
 <body class="bg-light text-center">
   <div class="bg-image">
	<div class="container py-5">
		<div class="card mx-auto shadow" style="max-width: 50%;">
			<div class="card-body">
				<p class="fs-2 card-text display-6 text-success" >${username}</p>
				<p class="fs-2 card-title text-danger">Your session has expired. Please log in again.</p>
				<a class='btn btn-primary' href="/corexfin">Click here to login</a>
			</div>
		</div>
	</div>
    </div> 	
	<%@ include file="../../reusable-code/footer.jsp" %>
</body>
  </body>
</html>