<html xmlns:th="http://www.thymeleaf.org">
 <div th:insert="@{reusable-code/header}"></div>
<style>
 th,td{
  text-align: left;
 }
 .scrollit {
    overflow:scroll;
    max-height:45vh;
}
.scrollit thead th {
      position: sticky;
      background:teal;
      color:white;
      top: 0;
}
</style>
<body class="bg-light text-center">
  <div class='bg-image'>
   <div class="container py-1">
        <div class="card mx-auto shadow" style="max-width:100%;">
            <div class="card-body" style="height:23vw">
            	<div class="table scrollit">
            		<table class="table table-bordered">
            		  <thead>
            		   <tr>
            		    <th>S.No</th><th>From Account</th><th>To Account</th>
            		    <th>Amount</th><th>Date</th><th>Time</th><th>Type</th>
            		   </tr>
            		  </thead>
            		  <tbody>
            		     <tr th:each="tr,stat:${tlist}">
            		       <td th:text="${stat.index+1}"></td>
            		       <td th:text="${tr.fromaccount}"></td>
            		       <td th:text="${tr.toaccount==tr.fromaccount?'Self':tr.toaccount}"></td>
            		       <td th:class='${tr.type=="Credit"?"text-success":"text-danger"}' th:text="${'&#8377;'+tr.amount}"></td>
            		       <td th:text="${tr.date}"></tdth>
            		       <td th:text="${tr.time}"></td>
            		       <td th:class='${tr.type=="Credit"?"text-success":"text-danger"}' th:text="${tr.type}"></td>
            		      </tr>
            		    </c:forEach>
            		  </tbody>
            		</table>	
            	</div>
            </div>
        </div>
    </div>
    <div>
     <a href="/corexfin" class='btn btn-primary'>Back Home</a>
     <a href="/corexfin" class='btn btn-secondary'>Download Receipt</a>
    </div>
   </div> 
    <div th:insert="@{reusable-code/footer}"></div>
</body>
</html>
