<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Home Page</title>
    <link th:href="@{CSS/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{CSS/bank.css?v=2.0}" rel="stylesheet">
    <script type="text/javascript" th:src="@{JS/bank.js?v=2.0}"></script>
    <style>
     .ts{
     	text-shadow: .1vw .6vw .3vw rgba(255, 255, 255, 0.7);
     }
    </style>
</head>
<div class="header" style="background-color: white; color: black;">
	<div class="row p-2">
		<div class='col-6'>
			<h2 class="ts">
                <img src="images/final-logo.png" alt="Corexfin: Hex Bank" style="max-width: 70%; height: auto; border-radius: 30px;">
            </h2>
		</div>
		<div class="col-6">
        	<h2  class="ts">Powering the Core of Bank</h2>
    	</div>
	</div>
</div>